# Environment & Secrets
.env
.env.local
*.pem
*.key
.storage/

# Python
__pycache__/
*.py[cod]
build/
dist/
.pytest_cache/
venv/
.venv/

# Node & Frontend
node_modules/
frontend/dist/
.npm

# AWS
.aws-sam/
